@model Wedding
@* <a asp-controller="Home" asp-action="Index">Home</a> *@

<div class="container w-75 mx-auto">
  <h2 class="text-center">Edit Wedding</h2>
  <form
    class="shadow p-3 rounded"
    asp-controller="Wedding"
    asp-action="UpdateWedding"
    asp-route-weddingId="@Model.WeddingId"
    method="POST"
  >
    <div class="mb-3">
      <label asp-for="WedOne">Wedder One</label>
      <span
        asp-validation-for="WedOne"
        class="text-danger font-weight-bold"
      ></span>
      <input class="form-control" asp-for="WedOne" value="@Model.WedOne" />
    </div>

    <div class="mb-3">
      <label asp-for="WedTwo">Wedder Two</label>
      <span
        asp-validation-for="WedTwo"
        class="text-danger font-weight-bold"
      ></span>
      <input class="form-control" asp-for="WedTwo" value="@Model.WedTwo" />
    </div>

    <div class="mb-3">
      <label asp-for="WedDate">Weddindg Date</label>
      <span
        asp-validation-for="WedDate"
        class="text-danger font-weight-bold"
      ></span>
      <input class="form-control" asp-for="WedDate" type="date" data-val="true"/>
      <input class="form-control" asp-for="WedDate" type="time" data-val="true"/>
    </div>

    <div class="mb-3">
      <label asp-for="WedAddress">Wedding Address</label>
      <span
        asp-validation-for="WedAddress"
        class="text-danger font-weight-bold"
      ></span>
      <input
        class="form-control"
        asp-for="WedAddress"
        value="@Model.WedAddress"
      />
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>


